/*	*{
	border: solid 1px red; 
}*/


.App{
	background-image: url("./background-2.png");
	min-height: 700px;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

.retina{
	width: 259px;
	height: 75px;
}

.a{
	color:white !important;
	align-items: right;
}
.a:hover{
	color:#ffc107 !important;
}

.Jumbotron {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 2px solid white;
  width: 50%;
  margin-top: 20rem;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.landing{
	padding-top: 50px;
	min-height: 700px;
}
.aboutMe{
	background-color: rgba(252, 186, 3);
  min-height: 1200px;
	opacity: 5;
	min-height: 550px;
	background-position: center;
	background-size: cover;
	animation: mymove 2	s infinite;
}

.me{
	height: 120px;
	width: 130px;
	opacity: 0.9;
}

.skill{
	border: 1px solid #343a40;
	box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.skill:hover {
	transform: translate3D(0,-1px,0) scale(1.03);
	box-shadow: 2px 4px 38px -6px rgba(92,92,86,1);
}

.card {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #F4BA59;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.card:hover {
	box-shadow: 14px 22px 41px -9px rgba(153,110,0,1);
	transform: translate3D(0,-1px,0) scale(1.03);
}

.icons{
	height: 70px;
	width: 70px;
}

.works{
	height: 250px;
}

.caro-i {
  background-color: rgba(0,0,0, 0.7);
  color: white;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
  padding: 2px; 
}

.caro-i:hover{
	border-color: #6c757 !important;
	color:#ffc107 !important;
	background-color: rgba(0,0,0, 0.7) !important;
	transform: translate3D(0,-1px,0) scale(1.03);
	box-shadow: 2px 4px 38px -6px rgba(92,92,86,1);
}

.hello{
	max-height: 700px;
	max-width: 450px;
	opacity: .8;

}

.rounded{
  opacity: .90;
}

.footpic{
	width: 80%;
	height: 80%;
}

a:hover{
	color:#ffc107 !important;
}

.animate__animated.animate__bounceOutDown {
  animation-duration: 5s;
}
.ml3 {
  font-weight: 400;
  font-size: 3.5em;
  color: #d6d6c2;
}

/* Design Pagination */

.a1 {
    display: block;
    overflow: hidden;
    font-size: 10em;
}

.a1 span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.a1:before,
.a1:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.a1:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}


.a1:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

.a1:hover span,
.a1:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.a1:hover:before,
.a1:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.a1:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

option{
  background-color: #343a40 !important;
  color: white !important; 
}

select{
  color: white !important;
}

/*for mobile*/
@media screen and (min-width: 360px) and (max-width: 667px){
	.hello{
		max-height: 200px;
		max-width: 180px;
		padding-top: 5px;
	}

	.nosm {
		display: none;
	}
	.Jumbotron {
	  border: 1px solid white;
	  width: 80%;
	  margin-top: 5rem;
	}

  .exp{
    font-size: 40px;
  }

  .none{
    display: none;    
  }
}
/*ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.hello {
		max-height: 350px;
		max-width: 300px;
		padding: 5px 5px 5px;
	}

	.nosm {
		display: none;
	}

	.lands{
		margin:0px;
		padding: 0px;
	}
  .none{
    display: none;    
  }
	.Jumbotron {
	  border: 1px solid white;
	  width: 80%;
	  margin-top: 5rem;
	}

  .exp{
    font-size: 40px;
  }
}
